= simple_form_for @realm, as: :realm, html: { class: "form-horizontal" },
                                               wrapper: :horizontal_form do |f|
  = f.error_notification

  .form-inputs
    = f.input :slug
    = f.input :name

  .form-actions
    = f.button :submit, class: "btn btn-primary"
