- title "Realms"

%table.table.table-condensed
  %thead
    %tr
      %th Slug
      %th Name
      %th Polling Enabled
      %th Last Checked
      %th Last Synced
      %th

  %tbody
    - @realms.each do |realm|
      %tr
        %td= realm.slug
        %td= realm.name
        %td= realm.polling_enabled
        %td= realm.last_checked_at
        %td= realm.last_synced_at
        %td= realm.polling_enabled
        %td
          = link_to "Show", realm, class: "btn btn-xs btn-success"
          = link_to "Edit", edit_wow_realm_path(realm), class: "btn btn-xs btn-info"
          = link_to "Destroy", realm, :method => :delete,
                               :data => { :confirm => "Are you sure?" },
                               class: "btn btn-xs btn-danger"

%br

= link_to "New Realm", new_wow_realm_path, class: "btn btn-primary"
