- title "Listing realms"

%table.table.table-condensed
  %thead
    %tr
      %th Slug
      %th Name
      %th

  %tbody
    - @realms.each do |realm|
      %tr
        %td= realm.slug
        %td= realm.name
        %td
          = link_to "Show", realm, class: "btn btn-xs btn-success"
          = link_to "Edit", edit_realm_path(realm), class: "btn btn-xs btn-info"
          = link_to "Destroy", realm, :method => :delete,
                               :data => { :confirm => "Are you sure?" },
                               class: "btn btn-xs btn-danger"

%br

= link_to "New Realm", new_realm_path, class: "btn btn-primary"
