- title "Auction #{@auction.auc}"

.row
  .col-sm-6
    %p
      %b Item:
      = @auction.item_name
    %p
      %b Quantity:
      = @auction.quantity
    %p
      %b Buyout:
      = wow_price @auction.buyout
  .col-sm-6
    %p
      %b Auction house:
      = @auction.realm.name
      = @auction.auction_house
    %p
      %b Owner:
      = @auction.owner_name
    %p
      %b Rand:
      = @auction.rand
    %p
      %b Seed:
      = @auction.seed

- snapshots = @auction.snapshots.order(id: :asc).to_a
%h3 Seen #{snapshots.size} Times:

- if snapshots.size > 0
  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th Seen At
        %th Bid
        %th Time Left
    %tbody
      - snapshots.each do |ss|
        %tr
          %td= ss.created_at
          %td= wow_price ss.bid
          %td= ss.time_left

%br
= link_to 'Edit', edit_wow_auction_path(@auction)
\|
= link_to 'Back', wow_auctions_path
